---
layout: post
title: Contact
description: null
image: null
nav-menu: true
---

<div class="inner">

			<ul class="icons">
				{% for key_value in site.socials %}
					{% if key_value[1] %}
						<li>
							<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
								<span class="label">{{ key_value[0] }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
</div>

<section id="contact">
	<div class="inner">
		<section>

			<form action="https://formspree.io/f/xpzkagnd" method="POST">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
	</div>
</section>
